<a href="https://colab.research.google.com/github/raja016956/Food-and-Restaurant-Data-Analysis-Hackathon/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **MCQ-based Question's Answers**

## **Q1. What is the shape of the given dataset?**

In [ ]:
Zomato_data.shape

(51717, 10)

## **Q2. How many restaurants serve North Indian cuisine?**

In [ ]:
Zomato_data[Zomato_data['cuisines'].str.contains('North Indian', na=False)].shape[0]

21085

## **Q3: Most commonly offered cuisine:**

In [ ]:
from collections import Counter
import itertools

# Split cuisines and flatten the list
cuisine_series = Zomato_data['cuisines'].dropna().apply(lambda x: [i.strip() for i in x.split(',')])
all_cuisines = list(itertools.chain.from_iterable(cuisine_series))

# Get the most common cuisine
most_common_cuisine = Counter(all_cuisines).most_common(1)[0][0]
most_common_cuisine

'North Indian'

## **Q4: Which locality in Bangalore has the highest average cost for dining (for two people)?**

In [ ]:
# Grouping by locality and calculating the average cost
avg_cost_by_locality = merged_datasets.groupby('listed_incity')['approx_costfor_two_people'].mean().sort_values(ascending=False)

# Showing the locality with highest average cost
highest_avg_cost_locality = avg_cost_by_locality.idxmax()
highest_avg_cost_locality

'Church Street'

## **Q5: Which restaurant type has the top rating with over 1000 votes?**

In [ ]:
# Filtering restaurants with more than 1000 votes
votes_1000 = merged_datasets[merged_datasets['votes'] > 1000]

# Grouping by restaurant type and finding the one with highest average rating
top_rest_type = votes_1000.groupby('rest_type')['rate'].mean().sort_values(ascending=False).idxmax()
top_rest_type

'Bakery'

## **Q6: Minimum cost to eat out in Bangalore**

In [ ]:
# Getting the minimum cost value
min_cost = merged_datasets['approx_costfor_two_people'].min()
min_cost

40

## **Q7: Percentage of online orders in Banashankari**

In [ ]:
# Filtering for Banashankari
banashankari_orders = merged_datasets[merged_datasets['listed_incity'] == 'Banashankari']

# Counting online order restaurants in Banashankari
online_orders = banashankari_orders[banashankari_orders['online_order'] == 'Yes'].shape[0]

# Total restaurants in Banashankari
total_banashankari = banashankari_orders.shape[0]

# Calculating percentage
percentage_online = (online_orders / total_banashankari) * 100
percentage_online

63.26767091541136

## **Q8: Locality with most restaurants with >500 votes & rating <3.0**

In [ ]:
# Filtering based on condition
low_rating_votes = merged_datasets[(merged_datasets['votes'] > 500) & (merged_datasets['rate'] < 3.0)]

# Finding locality with most such restaurants
most_common_locality = low_rating_votes['listed_incity'].value_counts().idxmax()
most_common_locality

'Brookefield'

## **Q9: Locality with most diverse restaurant types**

In [ ]:
# Counting unique restaurant types per locality
diversity = merged_datasets.groupby('listed_incity')['rest_type'].nunique()

# Finding locality with highest diversity
most_diverse = diversity.idxmax()
most_diverse

'BTM'

## **Q10: Average cost difference between buffet and delivery restaurants**

In [ ]:
# Filter data for Buffet and Delivery restaurants
buffet_cost = merged_datasets[merged_datasets['rest_type'].str.contains('Buffet', na=False)]['approx_costfor_two_people']
delivery_cost = merged_datasets[merged_datasets['rest_type'].str.contains('Delivery', na=False)]['approx_costfor_two_people']

# Calculate average costs
buffet_avg_cost = buffet_cost.mean()
delivery_avg_cost = delivery_cost.mean()

# Calculate the cost difference
cost_difference = abs(buffet_avg_cost - delivery_avg_cost)

# Print the results
print(f"Buffet Avg Cost: ₹{buffet_avg_cost}")
print(f"Delivery Avg Cost: ₹{delivery_avg_cost}")
print(f"Cost Difference: ₹{cost_difference}")

Buffet Avg Cost: ₹nan
Delivery Avg Cost: ₹414.2521408182683
Cost Difference: ₹nan

## **Q11: Max votes for any restaurant with online ordering**

In [ ]:
# Filtering for online ordering restaurants
online_restaurants = merged_datasets[merged_datasets['online_order'] == 'Yes']

# Getting maximum votes
max_votes = online_restaurants['votes'].max()
max_votes

16345

## **Q12: Average rating of restaurants serving both North Indian & Chinese**

In [ ]:
# Filtering restaurants offering both cuisines
ni_ch = merged_datasets[merged_datasets['cuisines'].str.contains("North Indian", na=False) &
                        merged_datasets['cuisines'].str.contains("Chinese", na=False)]

# Average rating
avg_rating = ni_ch['rate'].mean()
print(format(avg_rating))

3.5948912294517177

## **Q13: Most profitable area (based on revenue = rating * cost * votes)**

In [ ]:
# Creating a new column for potential revenue estimation
merged_datasets['potential_revenue'] = merged_datasets['rate'] * merged_datasets['approx_costfor_two_people'] * merged_datasets['votes']

# Grouping by area and summing revenue
revenue_by_area = merged_datasets.groupby('listed_incity')['potential_revenue'].sum()

# Most profitable area
most_profitable_area = revenue_by_area.idxmax()
most_profitable_area

'Koramangala 7th Block'

## **Q14: Restaurant type with lowest avg rating (focus on complaints)**

In [ ]:
# Dropping rows with missing values in columns
filtered_df = Zomato_data.dropna(subset=['rate', 'rest_type'])

# calculate average rating
rest_type_rating = filtered_df.groupby('rest_type')['rate'].mean().sort_values()

#  the restaurant type with the lowest average rating
lowest_rated_rest_type = rest_type_rating.idxmin()

lowest_rated_rest_type

'Dessert Parlor, Kiosk'

## **Q15: Area with high rating (>4.2), high votes (>500), and online order**

In [ ]:
# Filtering based on all 3 conditions
top_picks = merged_datasets[(merged_datasets['rate'] > 4.2) &
                            (merged_datasets['votes'] > 500) &
                            (merged_datasets['online_order'] == 'Yes')]

# Finding locality with most such restaurants
best_area = top_picks['listed_incity'].value_counts().idxmax()
best_area

'Koramangala 7th Block'